@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

#main-container {
  width: 100vw;
  height: 100vh;
}

input:focus , button:focus{
  outline: 0,
  border:0
}
#navbar {
  background: #2a2f32;

}

.dropdown-toggle::after {
  display: none;
}

.chat-list-item {
  background: #131c21;
  cursor: pointer;
}
#chat-list-area {
  padding: 0;
  overflow: scroll;
    height: 100%;
    scrollbar-color: red yellow;

}
.chat-list-item:hover {
  background: #323739;
}
.active-chat {
  background: #323739;
}

.chat-list-item .chat-details {
  width: 60%;
}

.chat-list-item.unread .name,
.chat-list-item.unread .last-message {
  font-weight: bold;
}

.chat-list-item .last-message,
#message-area #navbar #details {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#message-area {
  /* border-left: 1px solid white; */
}

#message-area .overlay {
  background: hsl(0, 0%, 80%);
}

#input-area {
  background: #2a2f32;
}

#input-area i {
  color : #828689
}

#input-area #input {
  outline: none;
}

.message-item {
  position: relative;
  max-width: 75%;
  word-break: break-word;
}
.message-item.self {
  background: #dcf8c6 !important;
}
.message-item .number {
  color: #1f7aec !important;
}
.message-item .options {
  position: absolute;
  top: 0;
  right: -3px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.message-item:hover .options {
  opacity: 1;
  right: 0;
}

#messages {
  flex: 1 !important;
  background: hsl(0, 0%, 80%);
  overflow: auto;
}

#profile-settings {
  position: absolute;
  top: 0;
  left: -110%;
  background: hsl(0, 0%, 95%);
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

#profile-pic {
  cursor: pointer;
  position: relative;
  width: 200px;
}

.profile-input {
  border-bottom: 2px solid transparent !important;
  outline: none;
}

.profile-input:focus {
  border-bottom-color: hsl(0, 0%, 50%) !important;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

#messages {
  background: url("https://web.whatsapp.com/img/bg-chat-tile-light_686b98c9fdffef3f63127759e2057750.png");
  /* background: url(https://res.cloudinary.com/practicaldev/image/fetch/s--WAKqnINn--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://thepracticaldev.s3.amazonaws.com/i/tw0nawnvo0zpgm5nx4fp.png); */
}
#root .main {
  height: 100%;
}

.bg-greey{
  background: #262d31
}